@model leave_management.Models.LeaveAllocationViewModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit for @Model.Employee.Lastname, @Model.Employee.Firstname</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="LeaveType.Name" class="control-label">Leave Type : @Model.LeaveType.Name</label>
            </div>
            <div class="form-group">
                <label asp-for="NumberofDays" class="control-label"></label>
                <input asp-for="NumberofDays" class="form-control" />
                <span asp-validation-for="NumberofDays" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="DateCreated" />
            <input asp-for="EmployeeId" type="hidden" />
            <input asp-for="LeaveTypeId" type="hidden" />
            <input asp-for="LeaveYear" type="hidden" />
            <div class="form-group">
                <input type="submit" value="Save Changes" class="btn btn-primary btn-success btn-block" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="ListEmployees"><i class="fa fa-backward" aria-hidden="true"></i> Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
