@model leave_management.Models.CreateLeaveTypeViewModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<table id="tblData" class="table">
    <thead>
        <tr>
            <th>
                Leave Allocations
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.LeaveTypes) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @*@Html.ActionLink("Allocate to Employees", "SetLeave", new { id = item.Id })*@
                <a asp-action="SetLeave" asp-route-id="@item.Id" class="btn btn-outline-primary"><i class="fa fa-share-alt-square" aria-hidden="true"></i> Allocate to Employees</a>
            </td>
        </tr>
}
    </tbody>
</table>
